/* Global Style */

body {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1px;
    height: 100%;
    background:#FFF;
    background-repeat: no-repeat;
}

html,
body {
    height: 100%
}

::selection {
    background-color: #E00;
    color: #ffffff;
}

::-moz-selection {
    background-color: #E00;
    color: #ffffff;
}
a {
    text-decoration: none;
}

img {
-moz-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
-webkit-box-shadow: 1px 2px 3px rgba(0,0,0,.5);
box-shadow: 10px 20px 30px rgba(0,0,0,.5);
border-radius : 10px;
}

.me-image{
    background-image: url('../images/profile.jpg');
    height:600px;
    opacity:0.85;
    /* you need to match the shadow color to your background or image border for the desired effect*/
/*    box-shadow: 0 0 20px 20px #FFF inset;*/
    background-size: 100% ;
    border-radius : 10px;
    background-color: #CCCA;
}

a {
    color: #4c9cef;
}

a:hover,
a:active,
a:focus {
    color: #f7639a;
    text-decoration: none;
  outline: none;
}


/* Home Section and Navigation Menu */

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    top:0px;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
}

.home-section {
    padding: 0px auto;
}

.table {
  margin-bottom: 0px;
}

.table-responsive {
  text-align: center;
  overflow:auto;
  width: 390px;
  background:#FFFA;
  border-radius:8px;
}

.table a {
  color: #ffffff;
}

.table > tbody > tr > td {
  padding: 10px;
  border-top : 0px;
  font-family: 'Trebuchet MS';
}

.table tr > td {
  padding: 11px 13px;
}

.table > tbody > tr:first-child > td {
  font-weight: bold;
  font-size:25px;
}

tr > td:nth-child(1){
  font-size: 19px;
  color: #000;
  width: 600px;
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
  .margin-left-setting {
    margin-left: 0px !important;
  }
}

.margin-top-150 {
  margin-top: 150px !important;
}

