/* Global Style */

html {
  height: 100%;
  width: 100%;
}

body {
  line-height: 24px;
  letter-spacing: 1px;
  height: 100%;
  width: 100%;
  background:#fff;
  background-repeat: no-repeat;
  font-family: "OpenSans-Light";
}

::selection {
  background-color: #333;
  color: #ffffff;
}

::-moz-selection {
  background-color: #333;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #4c9cef;
}

a:hover,
a:active,
a:focus {
  color: #f7639a;
  text-decoration: none;
  outline: none;
}

#me-image {
  background-image: url('../images/profile.png');
  height: 300px;
  width: 300px;
  opacity: 0.95;
  background-size: 100% ;
  border-radius : 50%;
  border: 2px solid #F00;
  margin:auto;
}

/* Home Section and Navigation Menu */
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    top:0px;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
}

.home-section {
    padding: 0px auto;
}

.table {
  margin-bottom: 0px;
}

.table-responsive {
  text-align: center;
  overflow:auto;
  border-radius:8px;
  border:0px;
}

.table a {
  color: #fff;
}

.table a:hover {
  color: #f00;
  opacity:0.8;
}

table {
  text-align:center;
}
.table {
  border:0px !important;
}
.table > tbody > tr > td {
  border-top : 0px;
}

#td_image {
  padding: 2%;
}

.table tr > td {
  padding: 11px 13px;
}

#name {
  font-weight: bold;
  font-size:25px;
}

tr > td:nth-child(1){
  font-size: 20px;
  color: #000;
  width: 600px;
}

.highlight {
  background-color:#F00;
  color:#fff;
  padding: 2px;
}

@media only screen and (min-width: 767px) and (max-width: 991px) {
  .margin-left-setting {
    margin-left: 0px !important;
  }
}

.margin-top-150 {
  margin-top: 150px !important;
}

